{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}
    <section class="p-3 p-md-5">
        <div class="row align-items-center">
            <h1 class="col"><i class="fas fa-users"></i> Utilisateurs<span class="text-danger">.</span></h1>
            <div class="col text-end">
                <button class="btn btn-dark" data-href="{{ path('utilisateur_new') }}"><i class="fas fa-user-plus"></i> Nouvel utilisateur</button>
                {% include 'nav.html.twig' %}
            </div>
        </div>
        <div class="rounded overflow-hidden shadow-lg bg-white">
            <table class="w-100 table table-borderless text-center table-hover mb-0">
                <thead class="bg-light">
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Matricule</th>
                    <th>Dernier pointage</th>
                    <th class="text-end">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for utilisateur in utilisateurs %}
                    <tr class="bg-white">
                        <td class="align-middle">
                            <figure class="m-0">
                                <img src="https://via.placeholder.com/50" alt="Id user" class="rounded-circle">
                            </figure>
                        </td>
                        <td class="align-middle">{{ utilisateur.nom }}</td>
                        <td class="align-middle">{{ utilisateur.prenom }}</td>
                        <td class="align-middle">{{ utilisateur.matricule }}</td>
                        <td class="align-middle">
                            {% if utilisateur.dernierPointage %}
                                <span class="badge badge-info"><i class="fas fa-calendar"></i> {{ utilisateur.dernierPointage.date|date('d.m.Y') }}</span>
                                <span class="badge badge-secondary"><i class="fas fa-clock"></i> {{ utilisateur.dernierPointage.duree|number_format(2) }}</span>
                                <span class="badge badge-dark"><a href="{{ path('chantier_show',{id:utilisateur.dernierPointage.chantier.id}) }}" class="text-decoration-none text-white"><i class="fas fa-hard-hat"></i> {{ utilisateur.nomComplet }}</a></span>

                            {% else %}
                                <em><i class="fas fa-times"></i> Aucun pointage connu</em>
                            {% endif %}
                        </td>
                        <td class="align-middle text-end">
                            <a href="{{ path('utilisateur_show', {'id': utilisateur.id}) }}" class="btn btn-secondary"><i class="fas fa-eye"></i></a>
                            <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}" class="btn btn-dark"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr class="bg-white">
                        <td colspan="6" class="align-middle">Aucun utilisateur</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
